/* ============================================================================
** Hero-banner Styles
==============================================================================*/

.hero-banner {
    margin-top: 3em;

    @include media-breakpoint-up(md) {
        margin-top: 5em;
    }

    &__title {
        font-weight: 600;
        margin-bottom: 22px;
        text-align: center;
        font-size: 50px;

        @include media-breakpoint-up(md) {
            font-size: 55px;
        }
 
        @include media-breakpoint-up(lg) {
            font-size: 60px;
            text-align: left;
        }
    }

    &__description {
        margin-bottom: 22px;
        text-align: center;

        @include media-breakpoint-up(lg) {
            text-align: left;
        }
    }
    &__input {
        border-radius: 8px;
        border-color: transparent;
        padding: 18px;
        font-size: 18px;
        height: 50px;
    }

    .btn-hero {
        background-color: $color-green;
        color: $white;
        font-family: $font-primary;
        font-weight: 600;
        border-color: $color-green;
        border-radius: 8px;
        font-size: 18px;
    }
}