// =========================================================================
// Helpers
// ==========================================================================

.font-primary {
    font-family: $font-primary !important;
}

.font-secondary {
    font-family: $font-secondary !important;
}

.text-blue {
    color: $color-blue !important;
}

.text-green {
    color: $color-green !important;
}